Enter Game Name:
<input type="text" id="name">
<input type="button" onclick="click()" value="Go" />
  <script>
  console.log("Test");
  function click() {
    console.log("TE");
    window.location.href = '/game/' + document.getElementById('name').value;
  }
</script>
