/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.memory-tile {
  margin: 10px 10px;
}
